name: Deployment pipeline
env:
  DEPLOY_URL: "https://fso2020-pokedex.herokuapp.com"

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
        run: npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start-prod
          wait-on: http://localhost:5000
      - name: deploy to heroku
        if: ${{ github.event_name == 'push' }}
        uses: akhileshns/heroku-deploy@v3.8.8
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_email: "jackyu1996@hotmail.com"
          heroku_app_name: "fso2020-pokedex"
          healthcheck: ${{ env.DEPLOY_URL }}/health
          checkstring: "ok"
          rollbackonhealthcheckfailed: true
      - name: notify success to slack
        if: ${{ success() }}
        uses: 8398a7/action-slack@v3
        with:
          channel: '#code'
          status: ${{ job.status }}
          custom_payload: |
            {
              attachments: [{
                  color: "#29b781",
                  text: `a new version deployed to ${env.DEPLOY_URL} (${process.env.AS_COMMIT}) by ${process.env.AS_AUTHOR} build took {process.env.AS_TOOK}`
                }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: notify fail to slack
        if: ${{ failure() }}
        uses: 8398a7/action-slack@v3
        with:
          channel: '#code'
          status: ${{ job.status }}
          fields: repo,message,commit,author,took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  tag:
    needs: deploy
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: bump version and push tag
        if: |
          github.event_name == 'push' &&
          !contains(join(toJson(github.event.commits.*.message)), '#skip')
        uses: anothrNick/github-tag-action@eca2b69f9e2c24be7decccd0f15fdb1ea5906598
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: "patch"
